{% extends 'rgas/base.html' %}
{% load static %}
{% block title %}
	About Daniel
{% endblock %}
{% block content%}
<div class="container">
	<h1>Nwankwo Daniel</h1>
	<p>
		<img src="{% static 'rgas/images/daniel.jpg' %}" alt="Daniel Picture" width="300px" style="float: right; margin: 10px;">
		Nwankwo Daniel is a mechanical engineering graduate of the university of Port-Harcourt, Rivers State Nigeria. Due to his passion towards computer programming as related to engineering and eager to solving many engineering problems with computer programs, he looks forward to being at the right environment with the right set of people where he will gain more knowledge and develop more skills, thereby contributing to the development of modern technology. 
	</p>
	<p>
		Before his graduation in 2014, he has worked as a computer programing tutor in Integral Computer center located in Choba, Port-Harcourt which was the best computer center as of then to learn computer programming. He majored in teaching MATLAB programing language which was as of then one the computer programing language that every engineering and computer science student must offer as a course. He worked with students on some projects like trading software for shop owners and database software for hospitals and schools.
	</p>

	<p>
		Computer aided generation of the thermodynamic properties of R134a is one the ideas he nursed while in school after countless errors while using thermodynamic charts and log tables. Hoping to lay hand on an equation that unites the thermodynamic properties of the refrigerant, he searched through the internet until he came in contact with a fundamental equation for the Helmholtz free energy of R134a which is valid for temperatures between 170 K and 455 K and pressures of up to 70 MPa which has been compared to equations established by other research groups by Annex 18 of the International Energy Agency (IEA) and has been selected as an international standard formulation for the thermodynamic properties of R134a. The equations was presented by Reiner and Hans.
	</p>
	<p>
		With the paper at hand, he developed the software using MATLAB as the programing language. The software can easily be translated to other programing languages such as Python, C++, java etc. depending on the use  
	</p>
	<p>
		He developed this blog as a kind of cover letter describing his intentions and goals in other to convince potential researchers and or employers of his potentials, which will be of great use to any organization if allowed in.
	</p>
	<p>
		Phone Numbers, +234 8060074403, +2348120680951
		Emails: nwankwodaniel287@yahoo.com, nwankwodaniel287@gmail.com,
	
	</p>
</div>


{% endblock %}